@model MVC_DATABASE.Models.ViewModels.AdminDashboard

@{
    ViewBag.Title = "Administrator Dashboard";
}

<div class="dashboard">

    <h1 class="text-center dashboard">Administrator Dashboard</h1>

    <hr />

    @if (Model.pendingVendors > 0)
    {
        <div class="alert alert-info text-center dashboard" role="alert">
            There are currently @Html.DisplayFor(model => model.pendingVendors) vendor applications awaiting approval.<br />
            Go to the @Html.ActionLink("Account Management", "Index", "Account", null , new { @class = "dashboard" }) page to respond.<br />
        </div>
    }
    else
    {
        <div class="alert alert-success text-center" role="alert">
            There are no unanswered vendor applications
        </div>
    }

    <hr />

    <div id="calendar">

        <script>

            $(document).ready(function () {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    editable: true,
                    eventLimit: true,
                    events: []
                });

            });

        </script>

    </div>

</div>