@model MVC_DATABASE.Models.ViewModels.EmployeeDashboard

@{
    ViewBag.Title = "Employee Dashboard";
}

<div class="dashboard">

    <h1 class="text-center dashboard">Employee Dashboard</h1>

    <hr />

    <div class="alert alert-success text-center" role="alert">
        Welcome to the Employee Dashboard
    </div>

    <hr />

    <div id="calendar">

        <script>

            $(document).ready(function () {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    editable: true,
                    eventLimit: true,
                    events: []
                });

            });

        </script>

    </div>

</div>


