@model MVC_DATABASE.Models.ViewModels.VendorDashboard

@{
    ViewBag.Title = "Vendor Dashboard";
}

<div class="dashboard">

    <h1 class="text-center dashboard">Vendor Dashboard</h1>

    <hr />

    @if (Model.pendingRFIs > 0)
    {
        <div class="alert alert-info text-center dashboard" role="alert">
            There are currently @Html.DisplayFor(model => model.pendingRFIs) RFIs awaiting your response.<br />
            Go to the @Html.ActionLink("RFI Management", "Index", "RFIs", null, new { @class = "dashboard" }) page to respond.<br />
        </div>
    }
    else
    {
        <div class="alert alert-success text-center" role="alert">
            There are no RFIs awaiting your response
        </div>
    }

    @if (Model.pendingRFPs > 0)
    {
        <div class="alert alert-danger text-center dashboard" role="alert">
            There are currently @Html.DisplayFor(model => model.pendingRFPs) RFPs awaiting your response.<br />
            Go to the @Html.ActionLink("RFP Management", "Index", "RFPs", null, new { @class = "dashboard" }) page to respond.<br />
        </div>
    }
    else
    {
        <div class="alert alert-success text-center" role="alert">
            There are no RFPs awaiting your response
        </div>
    }

    <hr />

    <div id="calendar">

        <script>

            $(document).ready(function () {

                $('#calendar').fullCalendar({
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay'
                    },
                    editable: true,
                    eventLimit: true,
                    events: []
                });

            });

        </script>

    </div>

</div>