@model IEnumerable<MVC_DATABASE.Models.ViewModels.RFPVendorIndex>

@{
    ViewBag.Title = "RFP - Respond";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Respond</h2>

<hr />

<div class="rfp-respond">
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label">RFP ID#: </label>
                @Html.DisplayFor(modelItem => .RFPID, new { @class = "result-label" })
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label class="control-label">Category: </label>
                @Html.DisplayFor(modelItem => item.CATEGORY, new { @class = "result-label" })
            </div>
        </div>
    </div>
</div>

