@using Microsoft.AspNet.Identity
@using MVC_DATABASE.Models

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        
        <div class="btn-oldstyle2">
            <ul class="nav navbar-nav navbar-right">
                <li class="loggedin">
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
        @if (User.IsInRole("Employee") || User.IsInRole("Administrator"))
        { 
                <li class="loggedin">                 
                        <a href=@Url.Action("Index", "MESSAGEs")>                                      
                        <img alt="mail" src="~/content/images/Mail.png" />
                    </a>
                </li>
        }
        else if (User.IsInRole("Vendor"))
        {
            <li class="loggedin">
                <a href=@Url.Action("VendorInbox", "MESSAGEs")>
                    <img alt="mail" src="~/content/images/Mail.png" />
                </a>
            </li>
        }
                <li class="loggedin"><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
            </ul>
        </div>
    }

    }