@model IEnumerable<MVC_DATABASE.Models.ViewModels.VendorRFI>
@{
    ViewBag.Title = "VendorIndex";
}

<h2>VendorIndex</h2>
<p>Display all the RFIs for the associated vendor.</p>

@foreach (var item in Model)
{
    <div>
        
    </div>
}
