@model IEnumerable<mvc_database.models.viewmodels.VendorContract>
    @{
        ViewBag.Title = "VendorContract";
    }

    <h2>VendorContract</h2>
    <p>Display all the Contracts for the associated vendor.</p>
