@media only screen {
	#frame {
		width: 1100px;
		margin-bottom: 15px;
	}
		
	#header {
		position: fixed;
		height: auto;
		margin-top: -12px;
		border-top: solid #515254 8px;
		border-left: solid #515254 8px;
		border-right: solid #515254 8px;
	}
	
	#footer {
		height: 120px;
		margin-bottom: 20px;	
		border-left: solid #515254 8px;
		border-right: solid #515254 8px;
		border-bottom: solid #515254 8px;
		border-bottom-left-radius: 50px; 
		border-bottom-right-radius: 50px;
	}

	#footer nav {
		margin-left: 280px;
		margin-right: auto;
	}
		
	#body-content{
        min-height: 650px;
        height: auto;
		border-top: solid #515254 2px;
		border-left: solid #515254 8px;
		border-right: solid #515254 8px;
		border-bottom: solid #515254 8px;
        margin: 10px;
        padding: 15px;
        overflow: hidden;
	}

    #nav {
        min-height: 56px;
    }
	
    .navbar-nav.navbar-right:last-child {
        margin-right: 0px;
    }
    	
    .subnav {
		width: auto;
		height: auto;
		margin: 0px;
	}

    .subnav li:first-child {
        margin-left: 72px;
    }

    .subnav li:last-child {
        margin-left: 0px;
    }
		
	.subnav li a {
		margin-left: auto;
		margin-right: auto;
		padding: 9px 18px;	
		font-size: 16px;
	}

    #reg-form .form-horizontal .form-group {
        margin-left: 30px;
        margin-right: auto;
    }

    #reg-form .form-horizontal .form-group:first-child {
        margin-top: 28px;
    }

    .subnav .form-group .col-md-10 {
        margin-right: -20px;
        width: 150px;
    }

    .subnav .form-group {
        width: 380px;
    }

    .subnav .control-label {
        color: #EFECE1;
    }

    /* Set width on the form input elements since they're 100% wide by default */
    input,
    select,
    textarea {
        width: 320px;
        margin-left: 10px;
    }

    .subnav .form-horizontal .col-md-2 .control-label label {
        margin-left: 20px;
        width: auto;
    }

    .subnav .form-group .col-md-2 {
        width: 70px;
    }

    .subnav .form-group .col-md-offset-2 .col-md-10 {
        margin-left: 0px;
        width: 300px;
    }

    .subnav .form-horizontal .form-group .checkbox input {
        width: 10px;
    }

    .subnav .checkbox input[type="checkbox"] {
        margin-left: 0px;
        margin-top: 18.9px;
    }

    .subnav .form-horizontal .form-group .checkbox {
        width: 280px;
        margin-left: 55px;
    }

    .subnav .checkbox .label {
        margin-left: 70px;
    }

    .subnav .form-horizontal .form-group .col-md-offset-2:last-child {
        padding-top: 10px;
        padding-bottom: 4px;
        margin-left: 130px;
    }
  
    .subnav .form-horizontal .form-group .checkbox .btn {
        padding: 8px 18px;
        font-size: 16px;
        border-radius: 6px;
        margin-bottom: 9px;
        width: auto;
        margin-top: 5px;
    }

    .subnav .form-horizontal .form-group:last-child {
        padding-bottom: 0px;
    }

    .col-md-2 {
        width: 350px;
    }

    .subnav .col-md-10 .form-group {
        width: 150px;
    }

    .form-control {
        width: 320px;
    }

    .subnav .col-md-offset-2 {
        width: 150px;
        margin-left: 40%;
        margin-right: auto;
    }

	.form-group {
		color: #F1F1F2;
		font-size: 16px;
	}

	#nav {
		width: inherit;
	}	
		
	#tabs {
		padding-top: 1.5px;
		padding-bottom: 1.5px;
		margin-left: 65px;
		margin-right: 65px;
	}
		
	#tabs li {
		margin: 4px 10.5px;
	}		
		
	#tabs li a {
		margin-left: auto;
		margin-right: auto;
		padding: 9.5px 24px;	
		font-size: 16px;
	}
	
	#tabs li:active {
		margin: 4px 10.4px;
	}	
	
	#tabs li a:active {
		padding: 9.9px 24.7px;	
		font-size: 15.5px;
	}

	.banner {
		margin-top: 5px;
		margin-left: 10px;
		margin-right: auto;
		margin-bottom: 10px;
		width: auto;
        height: auto;
	}

    #header .banner img {
        width: 100%;
        height: auto;
    }

    .btn {
        width: auto;
        padding: 12px 24px;
        font-size: 16px;
        border-radius: 6px;
        margin-bottom: 9px;
	}

    .loggedin:first-child {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 0px;
    }

    .loggedin:first-child a:hover {
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 0px;
    }

    .loggedin:last-child {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

html {
    font-family: "sans-serif", "Cambria";
}

body {
    background: #4c4c4c; /* Old browsers */
        background: -moz-linear-gradient(left,  #4c4c4c 0%, #2d2d2d 25%, #131313 50%, #2d2d2d 75%, #4c4c4c 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c), color-stop(25%,#2d2d2d), color-stop(50%,#131313), color-stop(75%,#2d2d2d), color-stop(100%,#4c4c4c)); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(left,  #4c4c4c 0%,#2d2d2d 25%,#131313 50%,#2d2d2d 75%,#4c4c4c 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(left,  #4c4c4c 0%,#2d2d2d 25%,#131313 50%,#2d2d2d 75%,#4c4c4c 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(left,  #4c4c4c 0%,#2d2d2d 25%,#131313 50%,#2d2d2d 75%,#4c4c4c 100%); /* IE10+ */
        background: linear-gradient(to right,  #4c4c4c 0%,#2d2d2d 25%,#131313 50%,#2d2d2d 75%,#4c4c4c 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#4c4c4c',GradientType=1 ); /* IE6-9 */
}

h1 {
    font-weight: bold;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    font-size-adjust: .8;
}

hr {
    border-color: #A7A7A7 -moz-use-text-color -moz-use-text-color;
}

.b {
        font-weight: bold;
    }

#frame{
	padding: 0;
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	height: auto;
}

/* Override the default bootstrap behavior where horizontal description lists will truncate terms that are too long to fit in the left column */
.dl-horizontal dt {
    white-space: normal;
}

#header {
	background: #77787b; /* Old browsers */
		background: -moz-linear-gradient(left,  #77787b 0%, #a8a9ad 17%, #cccdd1 32%, #cccdd1 68%, #a8a9ad 83%, #77787b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#77787b), color-stop(17%,#a8a9ad), color-stop(32%,#cccdd1), color-stop(68%,#cccdd1), color-stop(83%,#a8a9ad), color-stop(100%,#77787b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* IE10+ */
		background: linear-gradient(to right,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77787b', endColorstr='#77787b',GradientType=1 ); /* IE6-9 */
}

#body-content{
    position: relative;
	background-color: #f5f5c9;
	float: left;
	margin-top: 0;
	margin-bottom: 0;
}

img {
    width: 60%;
    height: auto;
}

#footer {
	background: #77787b; /* Old browsers */
		background: -moz-linear-gradient(left,  #77787b 0%, #a8a9ad 17%, #cccdd1 32%, #cccdd1 68%, #a8a9ad 83%, #77787b 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, right top, color-stop(0%,#77787b), color-stop(17%,#a8a9ad), color-stop(32%,#cccdd1), color-stop(68%,#cccdd1), color-stop(83%,#a8a9ad), color-stop(100%,#77787b)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(left,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(left,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(left,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* IE10+ */
		background: linear-gradient(to right,  #77787b 0%,#a8a9ad 17%,#cccdd1 32%,#cccdd1 68%,#a8a9ad 83%,#77787b 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77787b', endColorstr='#77787b',GradientType=1 ); /* IE6-9 */
	color: #585858;
	font-family: "sans-serif", "Cambria";
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	font-size: 12px;
}

#footer > p {
	text-align: center;
	margin-top: -10px;
	}
	
#footer > p:first-child {
	margin-top: 15px;
	}

#footer nav {
	display: inline-block;
	float: left;
	width: 100%;
	}

#footer nav a {
	color: #585858;
	font-family: "sans-serif", "Cambria";
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	text-decoration: none;
	font-size: 12px;
	}
	
#footer nav a:hover {
	color: #E6E6E6;
}

#header,
#body-content,
#footer
	{
	width: 100%;
	position: static;
	float: left;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-shadow: -10px 7px 27px 0px rgba(0,0,0,0.75);
	   -moz-box-shadow: -10px 7px 27px 0px rgba(0,0,0,0.75);
		    box-shadow: -10px 7px 27px 0px rgba(0,0,0,0.75);
}

.subnav {
	float: right;
	list-style: none;
	background: transparent;
}

.subnav li {
	display: block;
	float: left;
	text-decoration: none;
	font-weight: bold;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
	border-color: #002349 #002349 #000000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);	
}

.subnav li a {
	display: block;
	text-decoration: none;
    font-family: "sans-serif", "Cambria";
	font-weight: bold;
	color: #F1F1F2;
	-webkit-transition: color .25s ease-in;
	   -moz-transition: color .25s ease-in;
		 -o-transition: color .25s ease-in;
		    transition: color .25s ease-in;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.subnav li a .caret {
    border-top-color: #F1F1F2;
    border-bottom-color: #F1F1F2;
	-webkit-transition: border-color .25s ease-in;
	   -moz-transition: border-color .25s ease-in;
		 -o-transition: border-color .25s ease-in;
		    transition: border-color .25s ease-in;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.subnav li a:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.subnav li .open {
    background-color: #a3a3a3;
}

.subnav li a:hover .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

.btn-oldstyle2 li {
	background-color: #b2b2b2;
		background-image: -moz-linear-gradient(top,#BCBCBC,#a3a3a3);
		background-image: -webkit-gradient(linear,0 0,0 100%,from(#BCBCBC),to(#a3a3a3));
		background-image: -webkit-linear-gradient(top,#BCBCBC,#a3a3a3);
		background-image: -o-linear-gradient(top,#BCBCBC,#a3a3a3);
		background-image: linear-gradient(to bottom,#BCBCBC,#a3a3a3);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffbcbcbc', endColorstr='#ffa2a2a2', GradientType=0);
	border-color: #002349 #002349 #000000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border: solid black 1px;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	-webkit-transition: background .25s ease-in;
       -moz-transition: background .25s ease-in;
         -o-transition: background .25s ease-in;
            transition: background .25s ease-in;
}

.btn-oldstyle2 li a:hover,
.btn-oldstyle2 li a:focus {
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
	background-color: #a3a3a3;
}

.btn-oldstyle2 li a:active,
.btn-oldstyle2 li a.active,
.btn-oldstyle2 li a.active:hover {
	background-color: #afafaf;
	border-color: #002349 #002349 #000000;
	border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border: solid black 1px;
	border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #9A9A9A;
  border-color: #428bca;
  font-family: "sans-serif", "Cambria";
}

.subnav .dropdown-menu {
    background-color: #b2b2b2;
    border: ridge 3px #a3a3a3;
    font-family: "sans-serif", "Cambria";
}

.subnav .navbar-nav > li > .dropdown-menu {
    margin-top: 2px;
}

#nav {
	position: relative;
	float: left;
	margin: 0 auto;
	padding: 0;
	list-style: none;
	background-color: #009dbd;
        border-color: #00819c;
        background-image: -webkit-gradient(linear, left 0%, left 100%, from(#00c7f0), to(#009dbd));
        background-image: -webkit-linear-gradient(top, #00c7f0, 0%, #009dbd, 100%);
        background-image: -moz-linear-gradient(top, #00c7f0 0%, #009dbd 100%);
        background-image: linear-gradient(to bottom, #00c7f0 0%, #009dbd 100%);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00c7f0', endColorstr='#ff009dbd', GradientType=0);
	color: #e4faff;
	border-bottom: solid #002349 3px; 
	border-top: solid #002349 3px;
	}
	
#tabs li {
	float: left;
	color: #e4faff;
	}
  
#tabs li a {
	display: block;
	text-decoration: none;
    font-family: "sans-serif", "Cambria";
	font-weight: bold;
	color: #e4faff;
	 -webkit-transition: color .25s ease-in;
		-moz-transition: color .25s ease-in;
		  -o-transition: color .25s ease-in;
			 transition: color .25s ease-in;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#tabs li a:hover {
	color: #FFFFFF; 
	text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
}

#tabs .btn-oldstyle li {
	background-color: #009dbd;
    border-color: #009dbd;
    color: #e4faff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
    background-color: #008ca9;
        background-image: -moz-linear-gradient(top,#009dbd,#00738a);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#009dbd),to(#00738a));
        background-image: -webkit-linear-gradient(top,#009dbd,#00738a);
        background-image: -o-linear-gradient(top,#009dbd,#00738a);
        background-image: linear-gradient(to bottom,#009dbd,#00738a);
        background-repeat: repeat-x;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff009dbd', endColorstr='#ff00728a', GradientType=0);
    border-color: #00738a #00738a #00333e;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
	border: solid black 1px;
	border-radius: 3px;
	-webkit-transition: background .25s ease-in;
       -moz-transition: background .25s ease-in;
         -o-transition: background .25s ease-in;
            transition: background .25s ease-in;
	overflow-x: hidden;
	overflow-y: hidden;
}

#tabs .btn-oldstyle li:focus,
#tabs .btn-oldstyle li:hover {
	text-decoration: none;
	background-position: 0 -15px;
	background-color: #00738a;
}

#tabs .btn-oldstyle li:hover > a:active {
	background-color: #005c6f;
    border-color: #00738a;
}

.banner {
	position: relative;
	float: left;
}

.banner img {
	display: block;
}

.title-header {
    text-align: center;
    width: 100%;
}

#calendar {
		max-width: 900px;
		margin: 0 auto;
}

.calendar-body {
    margin: 40px 10px;
		padding: 0;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		font-size: 14px;
}
