
@{
    ViewBag.Title = "Baptist Videos";
}

<h2>Baptist Video Tutorials</h2>
@if (User.IsInRole("Administrator"))
{
<h3>Administrator</h3>
<div class="col-lg-12">
    <h5 class="home">1. Create Employee</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Administrator/CreateEmployeeFINAL.mp4" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">2. Activating Vendors</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Administrator/" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">3. Creating FAQs</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Administrator/FAQFINAL.mp4" type="video/mp4" />
        </video>
    </div>
</div>
}
<h3>Employees</h3>

<div class="col-lg-12">
    <h5 class="home">1. RFIs</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Employee/CreateRFIFINAL.mp4" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">2. RFPs</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Employee/CreateRFPFINAL.mp4" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">3. Negotiation</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Employee/" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">4. Contracts</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Employee/" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">5. Messaging</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/Employee/EmployeeMessagingFINAL.mp4" type="video/mp4" />
        </video>
    </div>
</div>

<div class="col-lg-12">
    <h5 class="home">6. Editing Account Information</h5>
    <div class="center-block">
        <video controls="controls">
            <source src="~/content/videos/All/" type="video/mp4" />
        </video>
    </div>
</div>
