@model MVC_DATABASE.Models.ViewModels.ReportDetails

@{
    ViewBag.Title = "RFP Report";
}

<h2>RFP Report</h2>

@Html.ActionLink("Generate RFP Report", "RFPReport", Model, new { @class = "btn btn-primary btn-sm btn-rfi" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Vendor.ORGANIZATION)
        </th>
        <th>
            <label class="control-label">Vendor Response Report</label>
        </th>
    </tr>
    @if (Model.InviteList != null)
    {
        foreach(var r in Model.InviteList)
        {
            //Gets file path to response.
            var filePath = r.OFFER_PATH;
            
            //LINQ to extract organization who provided offer.
            var organization = from v in Model.VendorList
                               where v.Id == r.Id
                               select v.ORGANIZATION;
            //String to contain organization.
            string responseOrg = organization.FirstOrDefault().ToString();
            
            <tr>
                <td>
                    @responseOrg
                </td>
                <td>
                    @if (string.IsNullOrWhiteSpace(filePath))
                    {
                        @ViewBag.NoResponse
                    }
                    else
                    {
                        <input type="button" id="btnpopu" value="View Report" onclick="RFPResponseReport(@Model.RfpInvite);"/>
                        <script type="text/javascript">
                            RFPResponseReport = function ()
                            {
                                window.open('/Report/RFPResponseReport', "PopupWindow", 'width=400px,height=400px,top=150,left=250');
                            }
                        </script>
                    }
                </td>
            </tr>
        }
    }
</table>

