@{
    ViewBag.Title = "Email has been confirmed!";
}

<h2>@ViewBag.Title</h2>
<div>
    <p>
        Thank you for confirming your email. Your account is currently awaiting approval.
    </p>
    <br>
    <p> You will be sent an email when your account has been approved.
    </p>
    <br />
    <p>
        Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
