
@{
    ViewBag.Title = "Pending";
}

<h2>Account Pending Activation</h2>

<p>Your account is under initial review.<br/>We appreciate your patience during this time. You will receive an email at the address provided when a decision has been made.</p>

