
@{
    ViewBag.Title = "Pending";
}

<h2>Account Pending Activation</h2>

<p>Your account is currently under review.<br/>We appreciate your patient during this period. We’ll send you an email when a decision is made.</p>

