@{
    ViewBag.Title = "Baptist Health Supply Chain Management";
}

<h2 class="home text-center">@ViewBag.Title</h2>

<div class="row">
        <div class="col-lg-12 text-center">
            <h4 class="home text-center">New to BHSCM?  Watch the video below to get started!</h4>
            <div class="center-block">

                <div>

                    <video controls="controls" >
                        <source src="~/content/videos/vendor/vendorregistration.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>


<div class="row">
    <br/>
    <div class="col-lg-3">
        <div class="circle cir1 center-block">
        </div>
        <p class="text-center">
            <strong>
               <u>MISSION:</u> <br/>
                The mission of Baptist Health is to exemplify our Christian heritage of providing quality healthcare services by enhancing the health of the people and the communities we serve.
            </strong>
        </p>
    </div>
    <div class="col-lg-3">
        <div class="circle cir2 center-block"></div>
        <p class="text-center">
            <strong>
                <u>VISION:</u> <br/>
                The vision of Baptist Health is to be nationally recognized as the healthcare leader in Kentucky.
            </strong>
        </p>
    </div>
    <div class="col-lg-3">
        <div class="circle cir3 center-block"></div>
        <p class="text-center">
            <strong>
                <u>VALUES:</u> <br/>
                Baptist Health will live out its Christ-centered mission and achieve its vision guided by: Integrity, Respect, Stewardship, Excellence and Collaboration.
            </strong>
        </p>
    </div>
    <div class="col-lg-3">
        <div class="circle cir4 center-block"></div>
        <p class="text-center">
            <strong>
                <u>Contact Us:</u> <br/>
                You can contact us by calling Baptist Health Supply Chain Management at: <br/> (502) 253-4700. 
            </strong>
        </p>
    </div>
</div>

<br />
