@{
    ViewBag.Title = "Baptist Health Supply Chain Management";
}

<h2 class="home text-center">@ViewBag.Title</h2>
<br /><br />
<div class="row">
    <div class="col-lg-3">
        <div class="circle cir1 center-block">

        </div>
    </div>
    <div class="col-lg-3">
        <div class="circle cir2 center-block"></div>
    </div>
    <div class="col-lg-3">
        <div class="circle cir3 center-block"></div>
    </div>
    <div class="col-lg-3">
        <div class="circle cir4 center-block"></div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <br />
        <div class="col-lg-1"></div>
        <div class="col-lg-6 oval" style="right: 5%;">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-6 text-center">
                    <h4 class="home text-center"><strong> Health Supply Chain Management</strong></h4>
                </div>
            </div>
        </div>

        <br />

        <div class="col-lg-6 text-center">
            <h4 class="home text-center">New to BHSCM?  Watch the video below to get started!</h4>
            <div class="center-block">

                <div>

                    <video controls="controls" class="col-lg-12" style="width:130%;">
                        <source src="~/content/videos/vendor/vendorregistration.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
