@{
    ViewBag.Title = "Baptist Health Supply Chain Management";
}

<h2 class="home text-center">@ViewBag.Title</h2>


<div class="col-lg-12 text-center">
    <h4 class="home text-center">New to BHSCM?  Watch the video below to get started!</h4>
    <div class="center-block">
        <video controls="controls" >
            <source src="~/content/videos/vendor/VendorRegistrationFINALFinal.mp4" type="video/mp4" />
        </video>
     </div>
</div>

<br/>
<br />

<table id="default-home">
    <tr>
        <td>
            <div class="circle cir1 center-block">
                <p>
                    <strong>
                        MISSION
                    </strong>
                </p>
            </div>
        </td>
        <td>
            <p>The mission of Baptist Health is to exemplify our Christian heritage of providing quality healthcare services by enhancing the health of the people and the communities we serve.</p>
        </td>
    </tr>
    <tr>
        <td>
            <div class="circle cir2 center-block">
                <p>
                    <strong>
                        VISION
                    </strong>
                </p>
            </div>
        </td>
        <td>
            <p>The vision of Baptist Health is to be nationally recognized as the healthcare leader in Kentucky.</p>
        </td>
    </tr>
    <tr>
        <td>
            <div class="circle cir3 center-block">
                <p>
                    <strong>
                        VALUES
                    </strong>
                </p>
            </div>
        </td>
        <td>
            <p>Baptist Health will live out its Christ-centered mission and achieve its vision guided by: Integrity, Respect, Stewardship, Excellence and Collaboration.</p>
        </td>
    </tr>
    <tr>
        <td>
            <div class="circle cir4 center-block">
                <p>
                    <strong>
                        CONTACT US
                    </strong>
                </p>
            </div>
        </td>
        <td>
            <p>You can contact us by calling Baptist Health Supply Chain Management at: <b><i>(502) 253-4700</i></b>.</p>
        </td>
    </tr>
</table>